################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyApp/bin
/MyApp/obj
/MyApp/Utils/MyCredentials.cs
